<h1>Welcome to Pur</h1>
<h2>The online dating app to help you find your purrfect match</h2>

<% if @people.any? %>
  <ul>
    <% @people.each do |person| %>
      <li>
        <%= link_to "#{person.name}", person_path(person) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>You have not created your profile yet, please create one!</h3>
<% end %>

<hr />









