.peoplediv {
  align-content: center;
  color: white !important;
}

a {
    color: white !important;
}

.header{
  font-size: 100px;
  text-align: center;
}

.people_greeting {
  font-size: 30px;
  text-align: center;
  margin-top: -100px;

}

.index_list {
  width: 150px;
  height: 150px;
  margin-left: 50px;
  font-size: 26px;
}

.form_div {
  color: white !important;
}
